body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form {
    padding:20px;
    height: 400px;
    width:400px;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
}
a {
    color:#56d8e4;
}
button{
    height:30px;
    width:100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01);
}
.ch {
    margin:10px;
    font-size: 20px;
}
p {
    font-size: small;
    margin-left:10px;
}
h1{
    text-align: center;
}
box {
    border:2px solid black;
    font-size: smaller;
}
.popup {
    width:400px;
    background-color: #ffffff;
    position: absolute;
    right:0px;
    /* visibility:hidden; */
    text-align: center;
}
.pop{
    display:absolute;
    align-items: center;

}
.pop p{
    font-size: medium;
}
.content{
    height:200px;
    width:200px;
    display: block;
    align-items: center;
}